* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

html,
body {
	font-family: @font-primary;
	color: @text-color;
	font-size: @text-size;
	line-height: 1.4;
	font-weight: 400;

	padding: 0;
	margin: 0;
	height: 100%;
}
a {
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	&:hover {
		color: inherit;
		text-decoration: underline;
	}
}
img {
	border: 0;
}
.mobile {
	@media only screen and (min-width : @responsive-w-800) {
		display: none;
	}
}
.desktop {
	@media only screen and (max-width : @responsive-w-800) {
		display: none;
	}
}
.clear {
	clear: both;
}
