#mainMenu {
	position: absolute;
	bottom: 0;
	left: 0;

	z-index: 91;
	.transition(.3s,ease-out 1.7s,bottom);

	.buttons {
		button {
			background-color: rgba(13,113,187,.5);
			cursor: pointer;
		}
	}
	.mini.popup {
		padding: 0 !important;
		&>.menu>.item {
			padding-top: 0;
			padding-bottom: 0;
		}
		.menu {
			.menu {
				margin-top: 10px;
				min-width: 100px;
				.item {
					overflow: hidden;
					padding: 10px 5px;
					.icon {
						float: none;
					}
				}
			}
		}
	}
}
