.home {
	.section-1 {
		padding: 65px 15px 75px 15px;
		background: transparent url("../images/home-z1.jpg") repeat-y center top;
		color: #000;
		.title {
			padding-bottom: 38px;
			h1 {
				margin: 0;
				padding: 0;

				font-family: @font-primary-cond;
				font-size: 36px;
				font-weight: normal;
				text-align: center;
			}
			h2 {
				margin: 0;
				padding: 0;
				text-align: center;
				img {
					max-width: 25%;
					width: 165px;
					@media only screen and (max-width : @responsive-w-600) {
						max-width: 50%;
					}
				}
			}
		}
		.trainers {
			.banner {
				float: left;
				position: relative;
				width: 22%;
				height: 514px;

				background-color: #f8f2e3;
				.content {
					height: 493px;
					text-align: center;
					position: relative;

					border: 1px solid #000;
					margin: 10px;
					img {
						display: block;
						margin: 30px auto 0 auto;
						width: 65%;
					}
					p {
						font-family: @font-primary-light;
						font-size: 23px;
						line-height: 26px;
						padding: 35px 30px 60px 30px;
						margin: 0;
						@media only screen and (max-width : @responsive-w-480) {
							padding: 25px 14px 30px 14px;
						}
					}
					.button {
						padding: 15px;
						color: #FFF;
						font-family: @font-primary-cond;
						font-size: 21px;
						background-color: #000;
						.arrow {
							padding: 10px;
							background: transparent url("../images/button-arrow.png") no-repeat right center;
						}
					}
					@media only screen and (max-width : @responsive-w-480) {
						height: auto;
						padding-bottom: 40px;
					}
				}
				@media only screen and (max-width : @responsive-w-1024) {
					width: 27%;
				}
				@media only screen and (max-width : @responsive-w-800) {
					width: 32%;
				}
				@media only screen and (max-width : @responsive-w-600) {
					width: 42%;
				}
				@media only screen and (max-width : @responsive-w-480) {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
				}
			}
			.people {
				float: left;
				width: 48%;
				height: 514px;
				overflow: hidden;
				.trainer {
					width: 48%;
					height: 252px;
					overflow: hidden;
					float: left;
					position: relative;
					border-left: 10px solid transparent;
					border-bottom: 10px solid transparent;

					img {
						position: absolute;
						left: 50%;
						top: 50%;
						z-index: 10;
						.translateXY(-50%,-50%);
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
						max-height: 150%;
						width: auto;
						height: auto;
					}
					@media only screen and (max-width : @responsive-w-1024) {
						width: 45%;
					}
					@media only screen and (max-width : @responsive-w-800) {
						width: 90%;
					}
					@media only screen and (max-width : @responsive-w-480) {
						width: 100%;
					}
				}
				@media only screen and (max-width : @responsive-w-1024) {
					width: 53%;
				}
				@media only screen and (max-width : @responsive-w-800) {
					width: 43%;
				}
				@media only screen and (max-width : @responsive-w-600) {
					width: 53%;
				}
				@media only screen and (max-width : @responsive-w-480) {
					width: 100%;
				}
			}
			.pump-zone {
				float: left;
				position: relative;
				width: 30%;
				height: 470px;
				.the-pump {

				}
				@media only screen and (max-width : @responsive-w-1024) {
					width: 20%;
				}
				@media only screen and (max-width : @responsive-w-800) {
					width: 25%;
				}
				@media only screen and (max-width : @responsive-w-600) {
					display: none;
				}
			}
		}
	}
	.section-2 {
		padding: 90px 15px 89px 15px;
		background: transparent url("../images/home-z2.jpg") no-repeat center top;
		color: #FFF;
		.banner {
			float: left;
			position: relative;
			width: 22%;
			height: 470px;

			background: transparent url("../images/home-z2-banner-back.jpg") repeat left top;
			.content {
				width: 100%;
				height: 450px;
				text-align: center;
				position: relative;
				padding: 30px 0;
				img {
					display: block;
					margin: 0 auto;

					&.image-logo {
						position: absolute;
						margin: 0;
						padding: 0;
						bottom: 0;
						left: 50%;
						top: 100%;
						.translateXY(-55%,-95%);
						max-width: 85%;
						width: auto;
						height: auto;
						@media only screen and (max-width : @responsive-w-480) {
							display: none;
						}

					}
				}
				p {
					font-family: @font-primary-cond;
					font-size: 24px;
					padding: 30px 20px 5px 20px;
					margin: 0;
				}
				.button {
					padding: 10px 20px;
					color: #FFF;
					font-family: @font-secondary;
					font-size: 22px;
					line-height: 22px;
					border: 1px solid #f8f2e3;
					.border-radius(3px);
					.arrow {
						padding: 10px;
						background: transparent url("../images/button-arrow.png") no-repeat right center;
					}
				}
				@media only screen and (max-width : @responsive-w-480) {
					height: auto;
					padding-bottom: 40px;
				}
			}
			@media only screen and (max-width : @responsive-w-1024) {
				width: 27%;
			}
			@media only screen and (max-width : @responsive-w-800) {
				width: 32%;
			}
			@media only screen and (max-width : @responsive-w-600) {
				width: 42%;
			}
			@media only screen and (max-width : @responsive-w-480) {
				width: 100%;
				height: auto;
				margin-bottom: 10px;
			}
		}
		.posts {
			float: left;
			width: 48%;
			height: 470px;
			overflow: hidden;
			.post {
				width: 48%;
				height: 230px;
				overflow: hidden;
				float: left;
				position: relative;
				border-left: 10px solid transparent;
				border-bottom: 10px solid transparent;

				img {
					position: absolute;
					left: 50%;
					top: 50%;
					z-index: 10;
					.translateXY(-50%,-50%);
					min-width: 100%;
					min-height: 100%;
					max-width: 150%;
					max-height: 150%;
					width: auto;
					height: auto;

				}
				.over {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 10;
					.desc {
						margin: 10px 15px;
						height: 30px;

						font-family: @font-primary-cond;
						font-size: 14px;
						line-height: 15px;

						display: block;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;

					}
				}
				&.you {
					.over {
						top: 0;
						background: transparent url("../images/post-you-over.png") no-repeat center center;
						.desc {
							display: none;
						}
					}
				}
				&:not(.you) {
					.over {
						background: transparent url("../images/trainer-back.png") repeat left top;
					}
				}
				@media only screen and (max-width : @responsive-w-1024) {
					width: 45%;
				}
				@media only screen and (max-width : @responsive-w-800) {
					width: 90%;
				}
				@media only screen and (max-width : @responsive-w-480) {
					width: 100%;
				}
			}
			@media only screen and (max-width : @responsive-w-1024) {
				width: 53%;
			}
			@media only screen and (max-width : @responsive-w-800) {
				width: 43%;
			}
			@media only screen and (max-width : @responsive-w-600) {
				width: 53%;
			}
			@media only screen and (max-width : @responsive-w-480) {
				width: 100%;
			}

		}
		.pump-zone {
			float: left;
			position: relative;
			width: 30%;
			height: 470px;
			.the-pump {
			}
			@media only screen and (max-width : @responsive-w-1024) {
				width: 20%;
			}
			@media only screen and (max-width : @responsive-w-800) {
				width: 25%;
			}
			@media only screen and (max-width : @responsive-w-600) {
				display: none;
			}
		}
		@media only screen and (max-width : @responsive-w-800) {
			background: transparent url("../images/patron.jpg") repeat left top;
		}
	}
	.products {
		padding: 65px 15px 40px 15px;
		background-color: #f1f1e1;
		color: #000;
		.title {
			padding-bottom: 38px;
			h1 {
				margin: 0;
				padding: 0;

				font-family: @font-primary-cond;
				font-size: 36px;
				font-weight: normal;
				text-align: center;
				img {
					max-width: 60%;
					width: 165px;
				}
			}
			h2 {
				margin: 0;
				padding: 0;

				font-family: @font-primary-cond;
				font-size: 23px;
				font-weight: normal;
				text-align: center;

				img {
					max-width: 25%;
					width: 165px;
				}
			}
		}
		.list {
			max-width: 900px;
			margin: 10px auto 0 auto;
			.product {
				width: 32%;
				height: 200px;
				overflow: hidden;
				float: left;
				position: relative;
				text-align: center;
				border: 5px solid transparent;
				a {
					display: block;
					height: 100%;
					width: 100%;
					.image {
						padding-top: 20px;
						img {
							max-width: 100%;
							width: auto;
							height: auto;
						}
					}
					.name {
						font-family: @font-secondary;
						font-size: 16px;
						line-height: 20px;
					}
					.desc {
						font-family: @font-secondary;
						font-size: 16px;
						line-height: 20px;
						margin-bottom: 10px;
					}
					.button {
						padding: 1px 7px;
						color: #FFF;
						font-family: @font-primary-cond;
						font-size: 16px;
						background-color: #000;
						.arrow {
							padding: 5px;
							background: transparent url('../images/button-arrow.png') no-repeat right 14px;
							background-size: auto 8px;
						}
					}

					&:hover {
						background-color: #e2e2d2;
						text-decoration: none;
					}
				}
				@media only screen and (max-width : @responsive-w-800) {
					width: 30%;
				}
				@media only screen and (max-width : @responsive-w-480) {
					width: 47%;
				}
				@media only screen and (max-width : @responsive-w-375) {
					width: 95%;
				}
			}
		}
	}
	.section-3 {
		.map {
			height: 610px;
			position: relative;

			.gm-style {
				div div div div div div:empty {
					//background-color: #000;
				}
			}

			#map-canvas {
				height: 100%;
				margin: 0;
				padding: 0;

				.map-info-window{
					position: absolute;
					margin-left: 40px;
					margin-top: 15px;

					.map-info-close{
						position: absolute;
						right: 5px;
						top: 5px;
						cursor:pointer;
						height: 20px;
						width: 20px;
						background: transparent url("/images/map-close.png") no-repeat center center;
					}
					.map-info-arrow {
						background: transparent url("/images/map-arrow.png") no-repeat center center;
						height: 14px;
						margin-top: -2px;
					}

					.content-marker {
						background: transparent url("/images/trainer-back.png") repeat left top;
						border-radius:4px;
						box-shadow:5px 8px 16px #222;
						color:#fff;
						max-width:300px;
						max-height:400px;
						padding: 15px 20px 15px 40px;
						overflow:hidden;
						text-transform:uppercase;
						text-align: left;

						.content-title {
							background: transparent url("/images/map-pin.png") no-repeat left 8px ;
							font-family: @font-primary-cond;
							font-size: 16px;
							font-weight: normal;

							margin:  0 15px 0 -15px;
							padding: 5px 0 0 15px;
						}
						.content-body {
							.left {
								font-family: @font-primary-cond;
								font-size: 16px;
								color: #7d7d7d;
								p {
									margin: 0;
								}
								a:hover,
								a:visited,
								a {
									color: #7aa0bf;
								}
								@media only screen and (max-width : @responsive-w-800) {
									width: 100%;
								}
							}
						}
						.contact {
							text-align: center;
							padding: 5px;
							a {
								display: inline-block;
								font-family: @font-primary-cond;
								font-size: 20px;
								padding: 5px 15px;
								border: 2px solid #FFF;
								text-decoration: none;
								&:hover {
									text-decoration: none;
								}
							}
						}
					}

				}
			}

			#results {
				position: absolute;
				left: 10%;
				top: 0;
				padding: 0;
				z-index: 5;

				.left {
					float: left;
					width: 280px;
					font-family: @font-primary-cond;
					color: #fff;
					font-size: 20px;
					background: transparent url("/images/trainer-back.png") repeat left top;

					.title {
						background: #98212b url("/images/map-map.png") no-repeat 18px center;
						height: 40px;
						cursor: pointer;
						h2 {
							height: 40px;
							line-height: 40px;
							margin: 0;
							padding: 0 0 0 70px;
							color: #FFF;
							font-family: @font-primary-cond;
							font-size: 24px;
							font-weight: normal;
						}
					}
					.text {
						margin: 30px 35px;
						.cities {
							select {
								border: none;
								width: 100%;

								padding: 14px 5px 13px 44px;

								background: #FFF url("/images/map-city-target.png") no-repeat left center;
								color: #5c5c5c;
							}
						}
						@media only screen and (max-width : @responsive-w-800) {
							margin: 15px 20px;
						}
					}
					@media only screen and (max-width : @responsive-w-800) {
						width: 220px;
					}
				}

			}

			.pump-zone {
				position: absolute;
				right: 0;
				top: 0;
				width: 30%;
				height: 610px;
				.the-pump {
				}
				@media only screen and (max-width : @responsive-w-1024) {
					width: 20%;
				}
				@media only screen and (max-width : @responsive-w-800) {
					width: 25%;
				}
				@media only screen and (max-width : @responsive-w-600) {
					display: none;
				}
			}


		}
	}
	.section-4 {
		padding: 60px 15px 30px 15px;
		.steps-list {
			.banner {
				float: left;
				position: relative;
				width: 30%;
				height: 430px;

				.content {
					margin: 80px auto 0 auto;
					text-align: center;
					position: relative;
					color: #000;
					background-color: #f8f2e3;
					padding-bottom: 50px;
					max-width: 300px;

					p {
						font-family: @font-secondary;
						font-size: 22px;
						line-height: 24px;
						padding: 35px 30px 30px 30px;
						margin: 0;
						@media only screen and (max-width : @responsive-w-480) {
							padding: 25px 14px 30px 14px;
						}
					}
					.button {
						padding: 10px 15px;
						color: #000;
						font-family: @font-secondary;
						font-size: 18px;
						border: 1px solid #000;
						.arrow {
							padding: 10px;
							background: transparent url("../images/button-arrow-black.png") no-repeat right center;
						}
					}
					@media only screen and (max-width : @responsive-w-600) {
						margin-top: 0;
					}
					@media only screen and (max-width : @responsive-w-480) {
						height: auto;
						padding-bottom: 40px;
					}
				}
				@media only screen and (max-width : @responsive-w-1024) {
					width: 27%;
				}
				@media only screen and (max-width : @responsive-w-800) {
					width: 32%;
				}
				@media only screen and (max-width : @responsive-w-600) {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
				}
			}
			.steps {
				float: left;
				width: 70%;
				min-height: 430px;
				h1 {
					margin: 0;
					padding: 0;
					text-align: center;
					img {
						max-width: 90%;
						width: auto;
						margin-bottom: 20px;
					}
				}
				.step {

					width: 27%;
					padding-bottom: 20px;
					float: left;
					position: relative;
					border-left: 30px solid transparent;

					img {
						width: 100%;
						height: auto;
						border: 5px solid transparent;
					}
					p {
						border-top: 10px solid transparent;
						color: #FFF;
						margin: 0;
						padding: 0;
						font-family: @font-secondary;
						font-size: 18px;
						line-height: 20px;
						text-align: center;
					}
					@media only screen and (max-width : @responsive-w-1024) {
						width: 25%;
					}
					@media only screen and (max-width : @responsive-w-480) {
						width: 100%;
						border: none;
					}
				}

				@media only screen and (max-width : @responsive-w-1024) {
					width: 73%;
				}
				@media only screen and (max-width : @responsive-w-800) {
					width: 63%;
				}
				@media only screen and (max-width : @responsive-w-600) {
					width: 100%;
				}
			}
		}
	}
}